In [ ]:
# %%bash
# wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet

In [1]:
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
#Read 2 parquet files into dataframes
df1 = pd.read_parquet('./data/yellow_tripdata_2022-01.parquet')
df2 = pd.read_parquet('./data/yellow_tripdata_2022-02.parquet')

In [3]:
df1.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,2.463931e+06,2463931,2463931,2.392428e+06,2.463931e+06,2.392428e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.392428e+06,2.392428e+06
mean,1.707819e+00,2022-01-17 01:19:51.689726208,2022-01-17 01:34:04.421900544,1.389453e+00,5.372751e+00,1.415507e+00,1.660768e+02,1.635807e+02,1.194449e+00,1.294648e+01,1.006710e+00,4.914539e-01,2.385696e+00,3.749773e-01,2.967234e-01,1.916937e+01,2.282322e+00,8.249935e-02
min,1.000000e+00,2008-12-31 22:23:09,2008-12-31 23:06:56,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-4.800000e+02,-4.500000e+00,-5.000000e-01,-1.252200e+02,-3.140000e+01,-3.000000e-01,-4.803000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2022-01-09 15:37:41,2022-01-09 15:50:50.500000,1.000000e+00,1.040000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,7.200000e-01,0.000000e+00,3.000000e-01,1.130000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2022-01-17 12:11:45,2022-01-17 12:23:49,1.000000e+00,1.740000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,3.000000e-01,1.469000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2022-01-24 13:49:37.500000,2022-01-24 14:02:51,1.000000e+00,3.130000e+00,1.000000e+00,2.340000e+02,2.360000e+02,1.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,3.000000e+00,0.000000e+00,3.000000e-01,2.002000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,2022-05-18 20:41:57,2022-05-18 20:47:45,9.000000e+00,3.061593e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.010923e+05,3.350000e+01,1.659000e+01,8.888800e+02,1.933000e+02,3.000000e-01,4.010956e+05,2.500000e+00,1.250000e+00
std,5.021375e-01,NaN,NaN,9.829686e-01,5.478714e+02,5.917573e+00,6.546806e+01,7.079016e+01,5.001778e-01,2.558149e+02,1.236226e+00,8.291560e-02,2.830698e+00,1.680538e+00,4.374741e-02,2.559641e+02,7.432040e-01,3.125554e-01

In [4]:
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 357.2+ MB

In [10]:
#The trip duration in January
df1['trip_duration'] = df1['tpep_dropoff_datetime'] - df1['tpep_pickup_datetime']
df1['trip_duration'].describe()

count                      2463931
mean     0 days 00:14:12.732175129
std      0 days 00:46:26.718308266
min              -3 days +14:37:36
25%                0 days 00:06:19
50%                0 days 00:10:11
75%                0 days 00:16:10
max                5 days 21:53:11
Name: trip_duration, dtype: object

In [11]:
#Convert the trip duration to minutes
df1['trip_duration'] = df1['trip_duration'].dt.total_seconds()/60
df1['trip_duration'].describe()

count    2.463931e+06
mean     1.421220e+01
std      4.644531e+01
min     -3.442400e+03
25%      6.316667e+00
50%      1.018333e+01
75%      1.616667e+01
max      8.513183e+03
Name: trip_duration, dtype: float64

In [13]:
#Remove the outliers which are not belong in range between 1 and 60 mins
df1_train = df1[(df1['trip_duration'] >= 1) & (df1['trip_duration'] <= 60)]

In [15]:
#Percentage of the data that is left
df1_train.shape[0]/df1.shape[0]*100

98.27547930522405

In [19]:
df1_train['trip_duration'].sort_values(ascending=False).tail(5)

1674445    1.0
2164437    1.0
2164436    1.0
2435455    1.0
858380     1.0
Name: trip_duration, dtype: float64

In [20]:
df1_train['trip_duration'].sort_values(ascending=False).head(5)

2408850    60.0
2398726    60.0
2406323    60.0
975774     60.0
2434276    60.0
Name: trip_duration, dtype: float64

In [49]:
#Check missing values
df1_train[["DOLocationID","PULocationID"]].isnull().sum()

DOLocationID    0
PULocationID    0
dtype: int64

In [46]:
#Convert two features dataframe to list of dictionary
X = df1_train[["DOLocationID","PULocationID"]].astype('str').to_dict(orient='records')

#Fit a dictionary vectorizer 
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer(sparse=False)
X = vec.fit_transform(X)

#Check me the shape of X
X.shape

(2421440, 515)

In [50]:
df1_train['trip_duration'].values

array([17.81666667,  8.4       ,  8.96666667, ..., 11.        ,
       12.05      , 27.        ])

In [51]:
#Train a linear regression model
X_train = X
y_train = df1_train['trip_duration'].values

In [52]:
print(X_train.shape)
print(y_train.shape)

(2421440, 515)
(2421440,)

In [53]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [55]:
#Evaluate the model 
y_pred = lr.predict(X_train)
mean_squared_error(y_train, y_pred)

48.80816717484469

In [56]:
#Calculate the RMSE
import numpy as np
np.sqrt(mean_squared_error(y_train, y_pred))

6.9862842180120825

In [63]:
df2[['DOLocationID','PULocationID']].isna().sum()

DOLocationID    0
PULocationID    0
dtype: int64

In [ ]:
#Prepare the validation dataset
categorial = ['DOLocationID','PULocationID']

def prepare_val(df):
    df['trip_duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
    df['trip_duration'] = df['trip_duration'].dt.total_seconds()/60
    df = df[(df['trip_duration'] >= 1) & (df['trip_duration'] <= 60)]

    df[categorial] = df[categorial].astype('str')

    return df

#Read the validation dataset
df_val = prepare_val(df2)

In [65]:
#Convert the validation dataset using the same vectorizer
X_val = vec.transform(df_val[categorial].to_dict(orient='records'))

In [66]:
y_val = df_val['trip_duration'].values

In [68]:
#Apply this moldel to the validation dataset by predicting the trip duration for the month of February
y_val_pred = lr.predict(X_val)

In [69]:
mean_squared_error(y_val, y_val_pred)

60.63348352561275

In [70]:
np.sqrt(mean_squared_error(y_val, y_val_pred))

7.7867505113245254