In [ ]:
# %%bash
# wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet

In [3]:
import pandas as pd

In [4]:
#Read 2 parquet files and merge them into one dataframe
df1 = pd.read_parquet('yellow_tripdata_2022-01.parquet')
df2 = pd.read_parquet('yellow_tripdata_2022-02.parquet')
df = pd.concat([df1, df2])

In [6]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,5.443362e+06,5443362,5443362,5.270121e+06,5.443362e+06,5.270121e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.270121e+06,5.270121e+06
mean,1.709109e+00,2022-02-02 01:53:51.905963520,2022-02-02 02:08:51.977706496,1.390917e+00,5.635142e+00,1.419827e+00,1.657783e+02,1.635005e+02,1.183061e+00,1.304498e+01,1.012510e+00,4.916060e-01,2.448713e+00,3.793579e-01,2.967386e-01,1.934911e+01,2.295222e+00,7.766212e-02
min,1.000000e+00,2003-01-01 00:10:06,2003-01-01 12:38:59,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-6.000000e+02,-4.500000e+00,-5.000000e-01,-1.880000e+02,-3.140000e+01,-3.000000e-01,-6.003000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2022-01-18 23:12:15.249999872,2022-01-18 23:26:18.500000,1.000000e+00,1.060000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,3.000000e-01,1.175000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2022-02-03 18:18:27.500000,2022-02-03 18:37:38,1.000000e+00,1.770000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,2.050000e+00,0.000000e+00,3.000000e-01,1.476000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2022-02-16 15:01:57,2022-02-16 15:18:05.750000128,1.000000e+00,3.170000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,3.060000e+00,0.000000e+00,3.000000e-01,2.047000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,2022-05-24 17:41:50,2022-05-24 17:43:27,9.000000e+00,3.487985e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.010923e+05,3.350000e+01,1.659000e+01,8.888800e+02,1.933000e+02,3.000000e-01,4.010956e+05,2.750000e+00,1.250000e+00
std,5.017359e-01,NaN,NaN,9.836000e-01,6.015312e+02,5.972370e+00,6.554616e+01,7.058795e+01,4.975932e-01,1.723407e+02,1.235380e+00,8.213917e-02,2.808154e+00,1.675431e+00,4.368339e-02,1.725652e+02,7.252347e-01,3.038566e-01

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5443362 entries, 0 to 2979430
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 830.6+ MB

In [24]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_duration
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0,17.816667
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0,8.400000
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0,8.966667
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0,10.033333
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0,37.533333

In [25]:
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_duration
2979426,2,2022-02-28 23:50:00,2022-03-01 00:06:00,NaN,3.40,NaN,None,163,193,0,14.37,0.0,0.5,0.00,0.0,0.3,17.67,NaN,NaN,16.000000
2979427,2,2022-02-28 23:06:57,2022-02-28 23:19:12,NaN,3.48,NaN,None,141,4,0,14.51,0.0,0.5,2.00,0.0,0.3,19.81,NaN,NaN,12.250000
2979428,2,2022-02-28 23:48:13,2022-03-01 00:03:33,NaN,3.05,NaN,None,161,151,0,14.38,0.0,0.5,3.81,0.0,0.3,21.49,NaN,NaN,15.333333
2979429,2,2022-02-28 23:56:41,2022-03-01 00:04:57,NaN,2.62,NaN,None,141,226,0,12.53,0.0,0.5,1.71,0.0,0.3,17.54,NaN,NaN,8.266667
2979430,2,2022-02-28 23:04:00,2022-02-28 23:10:00,NaN,1.41,NaN,None,237,142,0,8.80,0.0,0.5,2.57,0.0,0.3,14.67,NaN,NaN,6.000000

In [9]:
#The standard deviation of the trip duration
df['trip_duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df['trip_duration'].describe()

count                      5443362
mean     0 days 00:15:00.071744631
std      0 days 00:46:54.038459098
min              -3 days +14:37:36
25%                0 days 00:06:38
50%                0 days 00:10:45
75%                0 days 00:17:04
max                5 days 21:53:11
Name: trip_duration, dtype: object

In [19]:
#Convert the trip duration to minutes
df['trip_duration'] = df['trip_duration'].dt.total_seconds()/60
df['trip_duration'].describe()

count    5.443362e+06
mean     1.500120e+01
std      4.690064e+01
min     -3.442400e+03
25%      6.633333e+00
50%      1.075000e+01
75%      1.706667e+01
max      8.513183e+03
Name: trip_duration, dtype: float64

In [27]:
#Find the outliers which is less than 0 from the trip duration
df[df['trip_duration'] < 0]

#Remove the outliers
df = df[df['trip_duration'] > 0]

In [29]:
df['trip_duration'].sort_values(ascending=False)

221844     8513.183333
2025707    7890.833333
2445362    7871.633333
34510      5489.383333
2393967    5272.050000
              ...
130681        0.016667
2407026       0.016667
2230860       0.016667
1704426       0.016667
2960205       0.016667
Name: trip_duration, Length: 5438137, dtype: float64

In [30]:
df['trip_duration'].std()

46.89733679149597

In [31]:
df['trip_duration'].describe()

count    5.438137e+06
mean     1.501644e+01
std      4.689734e+01
min      1.666667e-02
25%      6.650000e+00
50%      1.076667e+01
75%      1.706667e+01
max      8.513183e+03
Name: trip_duration, dtype: float64

In [37]:
#Remove the outliers and remain the data of trip duration which is between 1 and 60 mins
df1 = df[(df['trip_duration'] > 1) & (df['trip_duration'] < 60)]

#Find the fraction of the records that are left
df1.shape[0]/df.shape[0]

0.9817314275090899

In [39]:
df1.shape
df.shape

(5438137, 20)