In [ ]:
%%bash
wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet

In [3]:
import pandas as pd

In [4]:
#Read 2 parquet files and merge them into one dataframe
df1 = pd.read_parquet('yellow_tripdata_2022-01.parquet')
df2 = pd.read_parquet('yellow_tripdata_2022-02.parquet')
df = pd.concat([df1, df2])

In [6]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,5.443362e+06,5443362,5443362,5.270121e+06,5.443362e+06,5.270121e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.443362e+06,5.270121e+06,5.270121e+06
mean,1.709109e+00,2022-02-02 01:53:51.905963520,2022-02-02 02:08:51.977706496,1.390917e+00,5.635142e+00,1.419827e+00,1.657783e+02,1.635005e+02,1.183061e+00,1.304498e+01,1.012510e+00,4.916060e-01,2.448713e+00,3.793579e-01,2.967386e-01,1.934911e+01,2.295222e+00,7.766212e-02
min,1.000000e+00,2003-01-01 00:10:06,2003-01-01 12:38:59,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-6.000000e+02,-4.500000e+00,-5.000000e-01,-1.880000e+02,-3.140000e+01,-3.000000e-01,-6.003000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2022-01-18 23:12:15.249999872,2022-01-18 23:26:18.500000,1.000000e+00,1.060000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,3.000000e-01,1.175000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2022-02-03 18:18:27.500000,2022-02-03 18:37:38,1.000000e+00,1.770000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,5.000000e-01,5.000000e-01,2.050000e+00,0.000000e+00,3.000000e-01,1.476000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2022-02-16 15:01:57,2022-02-16 15:18:05.750000128,1.000000e+00,3.170000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,3.060000e+00,0.000000e+00,3.000000e-01,2.047000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,2022-05-24 17:41:50,2022-05-24 17:43:27,9.000000e+00,3.487985e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.010923e+05,3.350000e+01,1.659000e+01,8.888800e+02,1.933000e+02,3.000000e-01,4.010956e+05,2.750000e+00,1.250000e+00
std,5.017359e-01,NaN,NaN,9.836000e-01,6.015312e+02,5.972370e+00,6.554616e+01,7.058795e+01,4.975932e-01,1.723407e+02,1.235380e+00,8.213917e-02,2.808154e+00,1.675431e+00,4.368339e-02,1.725652e+02,7.252347e-01,3.038566e-01

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5443362 entries, 0 to 2979430
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 830.6+ MB